* {
    font-family:"Roboto codensed";
    color: aliceblue;
}

body {
    margin: 0;
    background-color: #fffb94;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color:  #ffb780; 
    padding: 15px;
    border-radius: 32px;
    box-shadow: 20px 20px 0px 3px #00000033;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color:#ffb780 ;
    box-shadow: 5px 5px 10px -3px #00000040, -2px -2px 5px 1px #fabe91 ;

}

button:active{
    background-color: #ee9e60;

}

button:focus{
    outline: none;
}